<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <title>Nuevo Tema</title>
</head>
<body>
    <div class="container p-4">
        <form method="POST" action="/new-entry" class="card card-body">
                <div class="form-group">
                    <label for="title">Tema</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Ingresa un nuevo tema" autofocus required>
                </div>
                <div class="form-group">
                    <label for="title">Comentario</label>
                    <textarea name="comment1" id="comment1" placeholder="Ingresa un comentario" rows="3" class="form-control"  autofocus required></textarea>
                </div>
                <div class="form-group">
                    <label for="title">Imagen </label>
                    <input type="text" class="form-control" name="image" id="image" placeholder="Ingresa la dirección de su imagen" autofocus required>
                </div>
                <input type= "submit" value="Enviar" class= "btn btn-primary">
        </form>
    </div>
</body>
</html>