<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <title>Nuevo Tema</title>
</head>
<body>
    <div class="container p-4">
        <div class="form" class="card card-body">
            <label for="title">Tema</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Ingresa un nuevo tema" autofocus required>
        </div>
    </div>
</body>
</html>